

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:sans-serif;
}

.contact{
  /*height:100vh;*/
  height:550px;
  /*background-color:rgba(0,0,0,0.2);*/
  background-image:linear-gradient( rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url("./img/individual.jpg");
  background-repeat:no-repeat;
  /*background-blend-mode:multiply;*/
  background-size:cover;
  padding:50px;
  text-align:center;
  color:#fff;
   margin-bottom:400px;
}

.contact-container{
max-width:600px;
width:500px;
margin:55px auto; 
 margin-bottom:400px 
}

.contact-container > h2{
  
  font-size:56px;
  margin-bottom:30px;
}

.contact-form input, .contact-form textarea{
  width:100%;
  padding:10px;
  margin-bottom:20px;
  border-radius:5px;
  border:1px solid #ccc;
  outline:none;
  background-color:rgba(255,255,255,0.8);
  color:#333;
  font-size:16px;
  
}

 .contact-form textarea{
height:120px;
}

.contact-form button{
font-size:16px;
display:inline-block;
padding:12px 20px;
background-color:orangered;
color:#fff;
border:none;
border-radius:5px;
cursor:pointer;
transition:0.3s ease;
}

.contact-form button:hover{
  background-color:#45a049;
}

